/* src/App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.App {
  min-height: 100vh; /* Ensure app always takes full viewport height */
}

/* Header container holding the navbar and notification */
.header-container {
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1; /* Lower z-index to make sure notifications appear above */
  background-color: white; /* Ensure the header background is consistent */
}

